[submodule "evil_rock_paper_scissors"]
	path = evil_rock_paper_scissors
	url = https://github.com/TheCDC/evil_rock_paper_scissors
[submodule "particle_gravity"]
	path = particle_gravity
	url = https://github.com/TheCDC/particle_gravity
