[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

remi = "*"
pymarkoff = {git = "https://bitbucket.org/TheCDC/pymarkoff"}
pydot = "*"
evil-rock-paper-scissors = {git = "git://github.com/TheCDC/evil_rock_paper_scissors"}
pygame = "*"
numpy = "*"
pywebview = "*"
opencv-python = "*"


[dev-packages]



[requires]

python_version = "3.6"
