[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

remi = "*"
pymarkoff = {git = "https://bitbucket.org/TheCDC/pymarkoff"}
pydot = "*"


[dev-packages]



[requires]

python_version = "3.6"
